*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/deploymentTargetSelector.xml
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
keystore.properties

app/build/*
upload_certificate.pem
.vscode/
__pycache__/

# Screenshots automation outputs
screenshots_automation/screenshots/
screenshots_automation/screenshots_tablet/
screenshots_automation/google_play/
screenshots_automation/google_play_tablet/